@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap");

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
@font-face{font-family:roboto;
    src:url(fonts/roboto/roboto-regular-webfont.eot);
    src:url(fonts/roboto/roboto-regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(fonts/roboto/roboto-regular-webfont.woff2) format('woff2'),
    url(fonts/roboto/roboto-regular-webfont.woff) format('woff'),
    url(fonts/roboto/roboto-regular-webfont.ttf) format('truetype'),
    url(fonts/roboto/roboto-regular-webfont.svg#loraB) format('svg')}
@font-face{font-family:balooB;
    src:url(fonts/baloo/baloo2-extrabold-webfont.eot);
    src:url(fonts/baloo/baloo2-extrabold-webfont.eot?#iefix) format('embedded-opentype'),
    url(fonts/baloo/baloo2-extrabold-webfont.woff2) format('woff2'),
    url(fonts/baloo/baloo2-extrabold-webfont.woff) format('woff'),
    url(fonts/baloo/baloo2-extrabold-webfont.ttf) format('truetype'),
    url(fonts/baloo/baloo2-extrabold-webfont.svg#loraB) format('svg')}
@font-face{font-family:balooR;
    src:url(fonts/baloo/baloo2-medium-webfont.eot);
    src:url(fonts/baloo/baloo2-medium-webfont.eot?#iefix) format('embedded-opentype'),
    url(fonts/baloo/baloo2-medium-webfont.woff2) format('woff2'),
    url(fonts/baloo/baloo2-medium-webfont.woff) format('woff'),
    url(fonts/baloo/baloo2-medium-webfont.ttf) format('truetype'),
    url(fonts/baloo/baloo2-medium-webfont.svg#loraB) format('svg')}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    width: 50px;
}
.logo{
    font-family: 'balooB',sans-serif;
    font-size: 2em;
    color: #0367A6;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f7f7f7;
    font-family: "open", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #2e2e2e;
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
}
header{
    margin-top: 100px;
}
.hidden{
    color: transparent;
    position: absolute;
    top: -9999px;
}
.nav__link,h4,h2,h3{
    font-family: 'balooR',sans-serif;
}
h4{
    font-size:1.2em;
}
h2{
    font-size: 1.6em;
}
h3{
    font-size: 1.4em;
}
/************** nav **********************/
.nav {
    max-width: 600px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav__container {
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    left: 0;
}

.nav__link {
    padding: 10px;
}

.nav__link--svg {
    stroke: #616161;
}

.nav__link:hover .nav__link--svg {
    transition: 0.3s;
    stroke: #49868f;
}

.nav__link--bg {
    box-shadow: 0 0 10px rgba(85, 193, 201, 0.36);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 80px;
    right: 10px;
    border-radius: 100%;
    background-color: #93D1DB;
    transition: 0.3s;
}

.nav__link--bg:hover {
    transform: rotate(90deg);
    background-color: #49868f;
    transition: 0.3s;
}

.errors{
    color: red;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}
.bouncing-loader {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #49868f;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
}

.link__back{
    text-decoration: underline;
}
.form__login{
    margin: 10px 0 15px;
}
.show__pass{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid black;
    background: transparent;
    height: 30px;
    border-radius: 5px;
    width: 50px;
}
.show__pass svg{
    width: 100%;
}
.password__input{
    position: relative;
}
.container__login,.grid__parent__characteristic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-bottom: 10px;
}
.container__login .form__control{
    display: flex;
    flex-direction: column;
}
.input{
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;
    min-height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.btn{
    width: 150px;
    height: 30px;
    border: 1px solid #0367A6;
    border-radius: 5px;
    background: white;
    color: black;
    margin-top: 5px;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background: #0367A6;
    color: white;
    border-color: black;
}
.container__characteristic,.container__audio__bird{
    grid-column-start: 1;
    grid-column-end: 3;
}
.name__of__bird{
    margin: 20px 0 10px;
}